:root {
    --colorPrimary: #E03155;
    --colorText: #191817;
    --colorBorder: #A4A4A4;
    --colorPrimaryHover: #4096ff;
    --colorTextPlaceholder: #7E7E7E;
}

.ant-select-selector {
    height: 48px !important;
    border-radius: 6px !important;

    /* Auto layout */
    flex-direction: row;
    align-items: center;
    padding: 13px 16px !important;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1;
    /* Firefox */
    font-style: normal;
    font-weight: 330;
    font-size: 14px;
    line-height: 120% !important;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-style: normal;
    font-weight: 330;
    font-size: 14px;
    line-height: 120% !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    font-style: normal;
    font-weight: 330;
    font-size: 14px;
    line-height: 120% !important;
}

/* .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    border: 0 !important;
} */

/* Override radio customize */
label.ant-radio-wrapper.ant-radio-wrapper-checked {
    border-color: var(--colorPrimary);
}

.ant-radio-wrapper .ant-radio{
    align-self: flex-start;
    margin-top: 4px;
}