.buttonContainer:hover button {
  background: #fff;
  color: var(--colorPrimary);
  box-shadow: none;
  border: 2px solid var(--colorPrimary);
}
.buttonContainer:hover .plusIcon {
  stroke: var(--colorPrimary);
}
.searchIcon {
  stroke: var(--colorTextPlaceholder);
  stroke-width: 1.5px;
}
.searchIcon:hover {
  stroke: var(--colorPrimary);
}
