@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BrandonLight';
  src: local('Brandon_light'),
    url('/fonts/Brandon_Grotesque/Brandon_light.otf') format('truetype');
}

@font-face {
  font-family: 'Brandon';
  src: local('Brandon_reg'),
    url('/fonts/Brandon_Grotesque/Brandon_reg.otf') format('truetype');
}

@font-face {
  font-family: 'Philosopher';
  src: local('Philosopher-Regular'),
    url('/fonts/Philosopher/Philosopher-Regular.ttf') format('truetype');
}

body,
html {
  font-family: 'Brandon', sans-serif;
  color: var(--colorText);
}

:root {
  --colorPrimary: #e03155;
  --colorText: #191817;
  --colorWhite: '#FFFFFF';
  --colorBorder: #a4a4a4;
  --colorPrimaryHover: #375eab;
  --colorTextPlaceholder: #7e7e7e;
  --colorSuccess: #2db763;
  --colorWarning: #f47d23;
  --colorTextDisabled: #b1b1b1;
  --colorError: #e03155;
  --colorTagBg: #f3ccc5;
  --colorBgDefault: #f5f4f3;
  --colorLink: #375eab;
  --colorBorderChip: #c6cfe7;
  --colorBoxShadow: rgba(0, 0, 0, 0.15);
}

.ant-select-selector {
  height: 48px !important;
  border-radius: 6px !important;

  /* Auto layout */
  flex-direction: row;
  align-items: center;
  padding: 13px 16px !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1;
  /* Firefox */
  font-style: normal;
  font-weight: 330;
  font-size: 14px;
  line-height: 120% !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-style: normal;
  font-weight: 330;
  font-size: 14px;
  line-height: 120% !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-style: normal;
  font-weight: 330;
  font-size: 14px;
  line-height: 120% !important;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.heading1 {
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  /*40px*/
  line-height: 120%;
  /* identical to box height, or 40px */

  letter-spacing: 0.02em;
  font-family: 'Philosopher', sans-serif;
}

.heading2 {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  /*32px*/
  line-height: 120%;
  /* identical to box height, or 48px */

  letter-spacing: 0.02em;
}

.heading3 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  /*24px*/
  line-height: 120%;
  /* identical to box height, or 48px */

  letter-spacing: 0.02em;
}
.body1 {
  font-style: normal;
  font-weight: 390;
  font-size: 1.25rem;
  /*20px*/
  line-height: 120%;
  /* identical to box height, or 48px */

  letter-spacing: 0.02em; /*0.32px*/
}

.body2 {
  font-style: normal;
  font-weight: 390;
  font-size: 1.125rem;
  /*18px*/
  line-height: 120%;
  /* identical to box height, or 48px */

  letter-spacing: 0.02em; /*0.32px*/
}

.text {
  font-style: normal;
  font-weight: 330;
  font-size: 1rem;
  /*16px*/
  line-height: 120%;
  /* identical to box height, or 48px */

  letter-spacing: 0.02em; /*0.32px*/
}

.notification {
  font-style: normal;
  font-weight: 330;
  font-size: 0.875rem;
  /*14px*/
  line-height: 120%;
  /* identical to box height, or 48px */

  letter-spacing: 0.02em; /*0.32px*/
}

/* Customize Table */
.MuiTableContainer-root {
  border: 1px solid var(--colorBorder);
  padding: 15px 24px;
  border-radius: 8px;
}

.MuiTableHead-root > .MuiTableRow-head > .MuiTableCell-root {
  @apply tw-capitalize tw-text-base tw-text-text;
  line-height: 120%;
  font-weight: 420;
  letter-spacing: 0.02em; /*0.32px*/
}

.MuiTableBody-root > .MuiTableRow-root > .MuiTableCell-root {
  @apply tw-text-[0.875rem] tw-text-text;
  line-height: 120%;
  font-weight: 390;
  letter-spacing: 0.02em; /*0.32px*/
}

.MuiTableHead-root > .MuiTableRow-head > .MuiTableCell-root:first-child,
.MuiTableBody-root > .MuiTableRow-root > .MuiTableCell-root:first-child {
  padding-left: 0;
}

.MuiTableHead-root > .MuiTableRow-head > .MuiTableCell-root:last-child,
.MuiTableBody-root > .MuiTableRow-root > .MuiTableCell-root:last-child {
  padding-right: 0;
}
/* ---------------- END Customize Table */

.text-small {
  font-size: 0.625rem;
  font-weight: 390;
  line-height: 12px;
  letter-spacing: 2%;
}

.text-small {
  font-size: 0.625rem;
  font-weight: 390;
  line-height: 12px;
  letter-spacing: 2%;
}

@media screen and (max-width: 480px) {
  .heading1 {
    font-size: 1.75rem;
    /*28px*/
  }

  .heading2 {
    font-size: 1.5rem;
    /*24px*/
  }

  .heading3 {
    font-size: 1.125rem;
    /*18px*/
  }

  .body1 {
    font-size: 1rem;
    /*16px*/
  }

  .body2 {
    font-size: 0.875rem;
    /*14px*/
  }

  .notification,
  .text {
    font-size: 0.75rem;
    /*12px*/
  }
}
